body{
    margin:0;
    font-family: Arial, sans-serif;
    background:#f4f4f4;
}

header{
    background:#0057b7;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#003b7a;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-size:18px;
}

nav a:hover{
    color:yellow;
}

main{
    padding:20px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

.card{
    background:white;
    padding:15px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

img{
    width:100%;
    border-radius:10px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table, th, td{
    border:1px solid black;
}

th{
    background:#0057b7;
    color:white;
}

th, td{
    padding:10px;
    text-align:center;
}

form{
    background:white;
    padding:20px;
    border-radius:10px;
}

input, textarea{
    width:100%;
    padding:10px;
    margin-top:10px;
}

button{
    background:#0057b7;
    color:white;
    border:none;
    padding:10px 20px;
    margin-top:10px;
    cursor:pointer;
}

button:hover{
    background:#003b7a;
}